rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Open access as per user requirement for a narrow-audience admin app
      allow read, write: if true;
    }
  }
}
